<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
	<a class="navbar-item me-auto ms-2" href="{{ path('jo_app_home') }}">
		<img src="{{ asset('assets/images/jo_logo.png') }}" class="rounded-circle" height="100px"/>
	</a>
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse text-center" id="navbarColor02">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link {% if app.request.attributes.get('_controller') starts with 'App\\Controller\\JOHomeController' %}active{% endif %}" href="{{ path('jo_app_home') }}">
						<i class="fa-solid fa-home fa-xl"></i>&nbsp;Accueil
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if app.request.attributes.get('_controller') starts with 'App\\Controller\\AthleteController' %}active{% endif %}" href="{{path('app_athlete_index')}}">
						<i class="fa-solid fa-person-running fa-xl"></i>&nbsp;Athletes
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if app.request.attributes.get('_controller') starts with 'App\\Controller\\DisciplineController' %}active{% endif %}" href="{{path('app_discipline_index')}}">
						<i class="fa-solid fa-list fa-xl"></i>&nbsp;Disciplines
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if app.request.attributes.get('_controller') starts with 'App\\Controller\\PaysController' %}active{% endif %}" href="{{path('app_pays_index')}}">
						<i class="fa-solid fa-globe fa-xl"></i>&nbsp;Pays
					</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li class="nav-item">
						<div class="user-info">
							<small class="text-body-secondary text-capitalize">
								Bonjour,
								{{ app.user.email }}
							</small>
							<div>
								<span>
									Connecté en tant que
								</span>
								<div>
									{% if is_granted('ROLE_ADMIN') %}
										<span class="badge bg-danger">Administrateur</span>
									{% elseif is_granted('ROLE_USER') %}
										<span class="badge bg-info">Utilisateur</span>
									{% endif %}
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item mt-2">
						<a class="btn btn-outline-danger" href="{{ path('app_logout') }}">
							<i class="fa-solid fa-sign-out-alt fa-xl"></i>&nbsp;Déconnexion
						</a>
					</li>
				{% else %}
					<li class="nav-item d-flex mt-3">
						<a class="btn btn-outline-primary me-2" href="{{ path('app_login') }}">
							<i class="fa-solid fa-sign-in-alt fa-xl"></i>&nbsp;Connexion
						</a>
						<a class="btn btn-outline-secondary" href="{{ path('app_register') }}">
							<i class="fa-solid fa-user-plus fa-xl"></i>&nbsp;Créer un compte
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
