{% extends 'layout_blog.html.twig' %}

{% block title %}
	Les catégories
{% endblock %}

{% block body %}
	<div class="text-center">
		<h1>Liste des catégories</h1>
		<h4>{{categories | length}}
			catégorie(s) trouvée(s)
		</h4>
	</div>
	<a href="{{ path('app_category_new') }}" class="btn btn-outline-primary mb-4">Créer une catégorie</a>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>ImageUrl</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.id }}</td>
					<td>{{ category.name }}</td>
					<td>{{ category.description }}</td>
					<td>{{ category.imageUrl }}</td>
					<td>{{ category.createdAt ? category.createdAt|date('d-m-Y H:i:s') : '' }}</td>
					<td>{{ category.updatedAt ? category.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
					<td class="text-nowrap">
						<a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-outline-secondary me-1 mb-1">détail</a>
						<a href="{{ path('app_category_edit', {'id': category.id }) }}" class="btn btn-outline-info me-1 mb-1">modifier</a>
						{{ include('category/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr class="text-center">
					<td colspan="7">Aucune catégorie trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
