{% extends 'layout_jo.html.twig' %}

{% block title %}
	Liste des disciplines
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_USER') %}
		<a class="btn btn-outline-primary" href="{{ path('app_discipline_new') }}">
			<i class="fa-solid fa-plus fa-2xl"></i>&nbsp;Ajouter une discipline
		</a>
	{% endif %}

	<div class="text-center">
		<h1>Liste des disciplines</h1>
		<h5>{{disciplines | length}}
			discipline(s) trouvé(s)
		</h5>
	</div>
	<hr>
	<table class="table text-center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Sport</th>
				<th>Description</th>
				<th>Logo</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for discipline in disciplines %}
				<tr>
					<td>{{ discipline.id }}</td>
					<td>
						<a href="{{ path('app_discipline_show', {'slug': discipline.slug}) }}">{{ discipline.nomDis }}</a>
					</td>
					<td>{{ discipline.sportDis }}</td>
					<td>{{ discipline.descriptionDis }}</td>
					<td>
						<img src={{ discipline.logoDis }} width="100" height="100">
					</td>
					<td>
						<a href="{{ path('app_discipline_show', {'slug': discipline.slug}) }}" class="btn btn-outline-dark m-1">
							<i class="fa-solid fa-search fa-lg"></i>
						</a>
						{% if is_granted('ROLE_USER') %}
							<a href="{{ path('app_discipline_edit', {'id': discipline.id}) }}" class="btn btn-outline-info m-1">
								<i class="fa-solid fa-pen-to-square fa-lg"></i>
							</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
