{% extends 'layout_jo.html.twig' %}

{% block title %}
	Détail d'une discipline
{% endblock %}

{% block body %}
	<a href="{{ path('app_discipline_index') }}" class="btn btn-outline-primary">
		<i class="fa-solid fa-arrow-left fa-2xl"></i>&nbsp;Retour à la liste
	</a>

	<hr>

	<div class="d-flex justify-content-between mt-2">
		{% if is_granted('ROLE_USER') %}
			<a href="{{ path('app_discipline_edit', {'id': discipline.id }) }}" class="btn btn-outline-info">
				<i class="fa-solid fa-pen-to-square fa-lg"></i>&nbsp;Modifier
			</a>
			{% if is_granted('ROLE_ADMIN') %}
				{{ include('discipline/_delete_form.html.twig') }}
			{% endif %}
		{% endif %}
	</div>

	<h1 class="text-center">Détail de la discipline
		{{discipline.nomDis}}
	</h1>

	<div class="card-body">
		<div class="row justify-content-center">
			<div class="content">
				<br>
				<table class='table table-striped'>
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ discipline.id }}</td>
						</tr>
						<tr>
							<th>NomDis</th>
							<td>{{ discipline.nomDis }}</td>
						</tr>
						<tr>
							<th>SportDis</th>
							<td>{{ discipline.sportDis }}</td>
						</tr>
						<tr>
							<th>DescriptionDis</th>
							<td>{{ discipline.descriptionDis }}</td>
						</tr>
						<tr>
							<th>LogoDis</th>
							<td>{{ discipline.logoDis }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<hr>
		<table class="table">
			<div class="text-center">
				<h2>Athlète(s) associée(s)</h2>
				<h5>{{discipline.athletes | length}}
					Athlète(s) trouvé(s)
				</h5>
			</div>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom & Prénom</th>
					<th>Photo</th>
				</tr>
			</thead>
			<tbody>
				{% for athlete in discipline.athletes %}
					<tr>
						<td>
							<a href="{{ path('app_athlete_show', {'id': athlete.id}) }}">
								{{ athlete.id }}
							</a>
						</td>
						<td>{{ athlete.nomPrenom }}</td>
						<td>
							<img src={{ athlete.photo }} width="100" height="100">
						</td>
					</tr>
				{% else %}
					<tr class="text-center">
						<td colspan="3">Aucun athlète</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
