{% extends 'layout_jo.html.twig' %}

{% block title %}
	Athlètes
{% endblock %}

{% block body %}

	<a class="btn btn-outline-primary" href="{{ path('app_athlete_new') }}">
		<i class="fa-solid fa-plus fa-2xl"></i>&nbsp;Créer un athlète
	</a>

	<div class="text-center">
		<h1>Liste des athlètes</h1>
		<h5>{{athletes | length}}
			athlète(s) trouvé(s)
		</h5>
	</div>
	<hr>
	<table class="table text-center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom & Prénom</th>
				<th>Date de naissance</th>
				<th>Photo</th>
				<th>Genre</th>
				<th>Taille</th>
				<th>Poids</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for athlete in athletes %}
				<tr>
					<td>{{ athlete.id }}</td>
					<td>{{ athlete.nomPrenom }}</td>
					<td>{{ athlete.dateNaiss ? athlete.dateNaiss|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<img src={{ athlete.photo }} width="100" height="100">
					</td>
					<td>{{ athlete.genre }}</td>
					<td>{{ athlete.taille }}</td>
					<td>{{ athlete.poids }}</td>
					<td>
						<a href="{{ path('app_athlete_show', {'id': athlete.id}) }}">show</a>
						<a href="{{ path('app_athlete_edit', {'id': athlete.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
