{% extends 'layout_jo.html.twig' %}

{% block title %}
	Liste des athlètes
{% endblock %}

{% block body %}

	{% if is_granted('ROLE_USER') %}
		<a class="btn btn-outline-primary" href="{{ path('app_athlete_new') }}">
			<i class="fa-solid fa-plus fa-2xl"></i>&nbsp;Ajouter un athlète
		</a>
	{% endif %}

	<div class="text-center">
		<h1>Liste des athlètes</h1>
		<h5>{{athletes | length}}
			athlète(s) trouvé(s)
		</h5>
	</div>
	<hr>
	<table class="table text-center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom & Prénom</th>
				<th>Nombre de disciplines</th>
				<th>Date de naissance</th>
				<th>Photo</th>
				<th>Pays</th>
				<th>Continent</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for athlete in athletes %}
				<tr>
					<td>
						<a href="{{ path('app_athlete_show', {'id': athlete.id}) }}">
							{{ athlete.id }}
						</a>
					</td>
					<td>{{ athlete.nomPrenom }}</td>
					<td>{{ athlete.discipline|length }}</td>
					<td>{{ athlete.dateNaiss ? athlete.dateNaiss|date('d-m-Y') : '' }}</td>
					<td>
						<img src={{ athlete.photo }} width="100" height="100">
					</td>
					<td>
						{% if athlete.pays is not null %}
							{{ athlete.pays.nomPays }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% if athlete.pays is not null and athlete.pays.nomContinent is not null %}
							{{ athlete.pays.nomContinent }}
						{% else %}
							-
						{% endif %}
					</td>
					<td class="gap-2">
						<a href="{{ path('app_athlete_show', {'id': athlete.id}) }}" class="btn btn-outline-dark m-1">
							<i class="fa-solid fa-search fa-lg"></i>
						</a>
						{% if is_granted('ROLE_USER') %}
							<a href="{{ path('app_athlete_edit', {'id': athlete.id}) }}" class="btn btn-outline-info m-1">
								<i class="fa-solid fa-pen-to-square fa-lg"></i>
							</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr class="text-center">
					<td colspan="8">Aucun athlète</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
