{% extends 'layout_blog.html.twig' %}

{% block title %}
	Les Articles
{% endblock %}

{% block body %}
	<div class="text-center">
		<h1>Liste des articles</h1>
		<h4>{{articles | length}}
			article(s) trouvé(s)
		</h4>
	</div>
	<a href="{{ path('app_article_new') }}" class="btn btn-outline-primary mb-4">Créer un article</a>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nb Categories associées</th>
				<th>Title</th>
				<th>Auteur</th>
				<th>Contenu</th>
				<th>Image</th>
				<th>Créé le</th>
				<th>Modifié le</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.categories|length }}
						catégorie(s) associée(s)</td>
					<td>
						<a href="{{ path('app_article_show', {'slug': article.slug }) }}">{{ article.title }}</a>
					</td>
					<td>{{ article.user.fullName }}</td>
					<td>{{ article.content }}</td>
					<td>
						<img src={{ article.imageUrl }} width="100" height="100">
					</td>
					<td>{{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}</td>
					<td>{{ article.updatedAt ? article.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
					<td class="gap-2">
						<a href="{{ path('app_article_show', {'slug': article.slug }) }}" class="btn btn-outline-secondary me-1 mb-1">détail</a>
						<a href="{{ path('app_article_edit', {'id': article.id }) }}" class="btn btn-outline-info me-1 mb-1">modifier</a>
						{{ include('article/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr class="text-center">
					<td colspan="9">Aucun article trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
